<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        main
            article
                .wrapper
                    img(src=data.Poster)
                    span
                    h2=data.Title 
                         span (#{data.Year})
                    h4=data.Director
                    p=data.Genre
                    p=data.Runtime
                    p=data.Actors
                    p=data.Plot
                    if data.imdbID
                        a(href=`/search/${data.imdbID}`)
                            span.material-icons star_border
                    else
                        a(href=`/search/${data._id}`)
                            span.material-icons star_border

        script(defer, src='/js/movie.js')   