<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        //main
            .wrapper
                if /search {
                    form(GET a /search)
                        input(type='text', name='title)
                        input(type='submit')
                }
                each movie in Array de JSONS de movies
                    div
                        img(src=movie.imgUrl)
                        section
                            h3 #{movie.title}(#{movie.year})
                            h5=movie.director
                            p=movie.genre
                            p=movie.dur
        
