<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        main
            if search
                .wrapper
                    #search
                        input(type='text')
                        button.icon 
                            span.material-icons search
            if data
                if !data.Search
                    if admin
                        .wrapper
                            button(onclick='window.location.assign("/createMovie")') Create a movie
                    each movie in data
                        if movie.imdbID
                            section
                                .wrapper
                                    a(href=`/search/${movie.imdbID}`)
                                        img(src=movie.Poster)
                                        div
                                            h3=movie.Title 
                                                span (#{movie.Year})
                                            h5= movie.Director
                                            p=movie.Runtime
                                            div.buttonDock
                                                if admin
                                                    a.dock(href=`/editMovie/${movie.imdbID}`)
                                                        span.material-icons create
                                                if admin    
                                                    a.dock(href='/favorites' value=movie.imdbID)                                                                span.material-icons delete
                                                if !admin
                                                    a.dock(href='/favorites' value=movie.imdbID)
                                                        span.material-icons star
                        else if !movie.imdbID       
                            section
                                .wrapper
                                    a(href=`/search/${movie._id}`)
                                        img(src=movie.Poster)
                                        div
                                            h3=movie.Title 
                                                span (#{movie.Year})
                                            h5= movie.Director
                                            p=movie.Runtime
                                            div.buttonDock
                                                if admin
                                                    a.dock(href=`/editMovie/${movie._id}`)
                                                        span.material-icons create
                                                if admin    
                                                    a.dock(href='/favorites' value=movie.imdbID)
                                                        span.material-icons delete
                                                if !admin
                                                    a.dock(href='/favorites' value=movie.imdbID)
                                                        span.material-icons star_border                      
                else if data.Search
                    each movie in data.Search
                        if movie.imdbID
                            section
                                .wrapper
                                    a(href=`/search/${movie.imdbID}`)
                                        img(src=movie.Poster)
                                        div
                                            h3=movie.Title 
                                                span (#{movie.Year})
                                            h5= movie.Director
                                            p=movie.Runtime
                                            div.buttonDock
                                                if admin
                                                    a.dock(href=`/editMovie/${movie.imdbID}`)
                                                        span.material-icons create
                                                if admin    
                                                    a.dock(href='/favorites' value=movie.imdbID)
                                                        span.material-icons delete
                                                if !admin
                                                    a.dock(href='/favorites' value=movie.imdbID)
                                                        span.material-icons star
                        else if !movie.imdbID       
                            section
                                .wrapper
                                    a(href=`/search/${movie._id}`)
                                        img(src=movie.Poster)
                                        div
                                            h3=movie.Title 
                                                span (#{movie.Year})
                                            h5= movie.Director
                                            p=movie.Runtime
                                            div.buttonDock
                                                if admin
                                                    a.dock(onclick=`window.location.href='/editMovie/${movie._id}'`)
                                                        span.material-icons create
                                                if admin    
                                                    a.dock(href='/favorites')
                                                        span.material-icons delete
                                                if !admin
                                                   a.dock(href='/favorites')
                                                        span.material-icons star_border
        script(defer, src='/js/films.js')

