<!DOCTYPE html>
html(lang='en')
    include head
    body
        include header
        main
            article.detail
                .wrapper
                    div
                        img(src=data.Poster)
                        div
                            h2=data.Title 
                                span (#{data.Year})
                            h4=data.Director
                            p=data.Genre
                            p=data.Runtime
                            p=data.Actors
                    p=data.Plot
                    if data.imdbID
                        button#favorite(href=`/search/${data.imdbID}`)
                            span.material-icons star_border
                    else
                        button#favorite(href=`/search/${data._id}`)
                            span.material-icons star_border

        script(defer, src='/js/movie.js')   